/* ================================= 
  Base Element Styles
==================================== */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

body {

    background: #D8D8D8;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #303030;
    text-align: center;
}

a {

    color: #A86394;
    text-decoration: none;
    font-weight: bold;

}




h1 a {

    color: #A86394;
}


h2,
h3,
h4 {
    margin-top: 5%;
    text-align: center;
}



li {
    color: #7c72a0;
    text-align: center;
}

h3,
p {
    color: #000;
}




a:hover {

    color: #FF9363;

}



header {

    background: #544C70;
    width: 100%;
    height: 250px;




    border-bottom: 4px solid #FF916B;


}



nav {

    float: right;
    padding: 20px;
    margin-top: -220px;
    margin-right: 10px;


}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-top: 55px;
    width: 50px;

}


.name {
    font-family: 'Rochester', cursive;
    font-size: 30px;
    color: white;
    background: #544C70;

    text-align: center;

}

.frontend {
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    text-align: center;


}

.copyright {
    text-align: center;
    color: darkgray;
    font-size: 15px;
    margin-top: -10px;


}




#menu-icon {

    display: hidden;
    width: 40px;
    height: 40px;
    background: #FF916B url(../img/menu-icon.png) center;
    border-radius: 4px 4px 4px 4px;


}

a:hover#menu-icon {
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    text-align: center;
    margin-top: 190px;

    background-color: #9f9dca;
    border-radius: 4px 4px 0 0;

}

ul {

    list-style: none;

}

li {

    display: inline-block;
    float: left;
    padding: 10px
}

.current {

    color: #FF9363;

}

section {

    margin: 0 auto;
    padding-top: 0;

    max-width: 640px;
    width: 94%;



}

h1 {

    font-size: 2em;
    color: #FFF;
    line-height: 1.15em;
    margin: 20px 0;

}


p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 1.8em;
    padding: 20px;

}


a {
    text-decoration: none;
    color: inherit;
}



h1 a {

    color: #fff;
}

li h3,
p {
    color: black;
}

h2,
h3,
h4 {
    margin-top: 5%;
    text-align: center;
}

h4 {
    margin-bottom: .4em;
}



p {

    line-height: 1.45em;
    margin-bottom: 20px;

}

ul img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.prog-icons {

    text-align: center;

    font-size: 35px;
    color: #00B6CE;

}

.social-icons {

    color: darkgray;
    margin-top: 25px;
    margin-right: 20px;
}






/*FORM*/

form {
    max-width: 230px;
    margin: 0 auto;
    margin-top: 50px;

}


/*FIELDS*/

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}


select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

#zipcode {
    width: 50%;

}

fieldset {
    border: 0 none;
}

input:focus,
textarea:focus {
    background-color: #FF916B;
    border: 2px solid ##544C70;
}


/*PLACEHOLDER*/

::-webkit-input-placeholder {
    color: black;
    text-indent: 170px;
    font-size: 13px;
    font-style: italic;



}

:-moz-placeholder {
    /* Firefox 18- */
    color: black;
    text-indent: 170px;
    font-size: 13px;
    font-style: italic;

}

::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
    text-indent: 170px;
    font-size: 13px;
    font-style: italic;

}

:-ms-input-placeholder {
    color: black;
    text-indent: 170px;
    font-size: 13px;
    font-style: italic;

}

/*BUTTON*/

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #604B6E;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #093840;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

/* Center website */

.main {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */

.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */

.column {

    width: 100%;
}

/* Clear floats after rows */

.row:after {
    content: "";
    display: table;
    clear: both;
}




/*MEDIA QUERY*/

@media (max-width: 768px) {
    section {

        margin-top: 50px;
        margin-bottom: 100px;
    }

    #menu-icon {

        display: inline-block;

    }

    nav ul,
    nav:active ul {

        display: none;
        position: absolute;
        padding: 20px;
        background: #D8D8D8;
        border: 5px solid #FF9363;
        right: 20px;
        top: 60px;
        width: 50%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;

    }

    .form-contact {
        width: 250px;
    }

    fieldset {


        margin-left: -30px;

    }





}


@media (min-width: 1024px) {

    section {

        margin-top: 75px;
        margin-bottom: 100px;
    }


    fieldset {
        margin-bottom: 137px;

        margin-left: -65px;

    }


    p {
        font-size: 18px;

        text-align: justify;
        width: 500px;
        margin-left: auto;
        margin-right: auto;

    }




    h2,
    h3,
    h4 {
        font-size: 20px;
        margin-top: 10%;

    }


    .main-nav {
        float: right;
        margin-top: -215px;
        margin-right: 40px;
        font-size: 18px;
    }




    .form-contact {
        width: 300px;
    }




    nav {

        margin-top: -240px;



    }


}
